doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Update Custom Object Form | Integrating With HubSpot I Practicum
    link(rel='stylesheet', type='text/css', href='/style.css')
  body
      h1 Add/Update Objects
      form(class="form-wrapper" action="/update-cobj" method="POST")
        p Email:
        input(type="email", name="email" required)
        p Firstname:
        input(type="text", name="firstname" required)
        p Lastname:
        input(type="text", name="lastname" required)
        p Phone number
        input(type="number", name="phoneno" required)
        br
        br
        input(type="submit", value="Submit")
        br
        a(href="/") Return to the homepage
